

  *{
    transition: all 0.2s ease-in-out;
    color: white;
    font-weight: 600;
    background-color: #121516;
    padding: 0px 5px;
    font-size: 100%;
    font-family: Century Gothic, Verdana, sans-serif;
  }

    .title {
    font-weight: 800;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    }

    .tag {
    color: white;
    }

    .time {
        font-weight: 400;
    }

  table {
    display: grid;
    place-items: center;
  }

  .religion {
    background-color: #3B68E2;
    color: white;
  }

  .religion:hover {
    background-color:  #00dd60;
    color: black;
  }

  .Geschichte {
    background-color: #2050D5;
    color: white;
  }

  .Geschichte:hover {
    background-color:  #00dd60;
    color: black;
  }

  .Spanisch {
    background-color: #1B43B1;
    color: white;
    }

    .Spanisch:hover {
        background-color:  #00dd60;
        color: black; 
    }

    .Musik {
        background-color: #15358E;
    }

    .Musik:hover {
        background-color:  #00dd60;
        color: black; 
    }

    .Informatik {
        background-color: #10286A;
    }

    .Informatik:hover {
        background-color:  #00dd60;
        color: black; 
    }

    .pause {
        background-color: white;
        color: black;
    }